.chat-card
  display: flex;
  align-items: center;
  box-shadow: none;
  background-color: transparent;
  color: #182026;
  cursor: pointer;
  justify-content: center;
  padding: 0 16px;

  &._is-editing
    background-color: rgba(219, 55, 55, 0.2);

  &._is-active
    background-color: rgba(19, 124, 189, 0.2);

  &:hover
    color: #0E5A8A;

  &__text
    height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    margin: 8px 0;
    flex: 1 1 auto;

  &._placeholder
    justify-content: center;
    height: 40px;
    width: 100%;

  &__menu
    margin: 0 41px;
    height: 0;
    overflow: hidden
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;

    &._opened
      height: 45px;

    &-item
      cursor: pointer;
      margin: 4px 0

      &:hover
        color: #0E5A8A;

  &__right-icon
    margin-left 8px