.profile-lists
  &__link
    margin: 16px;
    display: block;

  &__no-items
    display: flex;
    opacity: 0.5;
    justify-content: center;
    margin: 16px;

  &__comments
    margin: 16px;

  &__reversed-list
    display: flex;
    flex-direction: column-reverse;