@import '../../../index.styl'

$left-column-width = 22%
$left-column-min-width = 270px
$left-column-max-width = 390px

.layout
  width: 100%;
  min-height: 'calc(100vh - 2 * %s)' % $header-and-footer-height
  height: 'calc(100vh - 2 * %s)' % $header-and-footer-height
  display: flex;

  +for_phones()
    height: auto
    flex-direction: column;
  +for_tablets()
    height: auto
    flex-direction: column;

  &__left-column
    overflow: scroll;
    min-width: $left-column-min-width;
    width: $left-column-width;
    max-width: $left-column-max-width;
    -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);

    +for_tablets()
      width: 100%;
      max-width: none;
    +for_phones()
      width: 100%;
      max-width: none;

  &__right-column
    overflow: scroll;
    width: 'calc(100% - %s)' % $left-column-width;

    +for_tablets()
      width: 100%;
    +for_phones()
      width: 100%;