@import '../../../index.styl'

.new-academic-year__start-button
  margin: 8px 16px

.students-group-actualisation__item
  margin: 8px 16px

.students-group-actualisation__buttons
  margin: 0px 16px 8px;


.students-group-actualisation__input
  width: 300px
  padding: 0px 16px
  +for_phones()
    width: 100%
    box-sizing: border-box;