.attribute-card
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #182026;
  margin-top: 8px;
  cursor: pointer;
  flex-direction: column;

  &:active
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);

  &__title
    height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

  &__description
    opacity: 0.5;
    height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 12px;


  &._placeholder
    justify-content: center;
